In [28]:
########Write a Python program to reverse a given string.
############Example: Input: "hello", Output: "olleh"
k= "hello"
print(k[::-1])

olleh

In [29]:
#####Check if a given string is a palindrome.
#Example: Input: "madam", Output: True

ip = "madam"
kp = (ip[::-1])
if ip == kp:
    print(True)
else:
    print(False)

True

In [30]:
#Count the number of vowels in a string.
#Example: Input: "hello world", Output: 3

k = "hello world"
v="aeiouAEIOU"
count = 0
for char in k:
    if char in v:
        count += 1
    
print(count)

3

In [31]:
##Replace all spaces in a string with underscores (_).
##Example: Input: "python programming", Output: "python_programming"
string1 = "python programming"
d = string1.replace(" ","_")
print(d)

python_programming

In [32]:
##Convert a given string to uppercase without using the built-in .upper() method.
string1 = "python programming"
sc = string1.upper()
print(sc)

PYTHON PROGRAMMING

In [33]:
##Write a program to find the first non-repeating character in a string.
##Example: Input: "swiss", Output: "w"

sc1 = "swiss"
for char in sc1:
    if sc1.count(char)==1:
        print(char)
        break

w

In [34]:
#Count the occurrences of each character in a string.
#Example: Input: "banana", Output: {'b': 1, 'a': 3, 'n': 2}
ip = "banana"
char_count = {}

for char in ip:
    if char in char_count:
        char_count[char] += 1
    else:
        char_count[char] = 1 

print(char_count)

{'b': 1, 'a': 3, 'n': 2}

In [35]:
#Check if one string is a rotation of another string.
#Example: Input: ("abcd", "dabc"), Output: True

s1 = "abcd"
s2 = "dabc"

com = s1 + s1
print(com)
if s2 in com:
    print(True)
else:
    print(False)

abcdabcd
True

In [36]:
#Find all substrings of a given string.
#Example: Input: "abc", Output: ["a", "b", "c", "ab", "bc", "abc"]
o = "abc"
s = []
for i in range(len(o)):
    for j in range(i + 1,len(o)+1):
        s.append(o[i:j])
print(s)

['a', 'ab', 'abc', 'b', 'bc', 'c']

In [37]:
####### function########
def greet(name):
    print("hello world",name)
greet("kaustubh")

hello world kaustubh

In [38]:
def add (a,b):
    return a + b

sum = add(4,6)
print(sum)

10

In [39]:
def greet(name = "guest"):
    print("hello",name)

greet()
greet("kaustubh")

hello guest
hello kaustubh

In [40]:
def sum_all(*numbers):
    return sum(numbers)

print(sum_all(1,2,3,4))

TypeError: 'int' object is not callable

In [ ]:
def print_info (**info):
    for key , value in info.items():
        print(f"{key}:{value}")


print_info(name = "kaustubh" , age = 18)

In [ ]:
#1. Write and Call a Simple Function
#Write a function called greet that prints "Hello, World!" and call it.

def greet():
    print("Hello, World!")

greet()

In [ ]:
#2. Function with Parameters
#Write a function called introduce that takes two arguments: name and age, and prints:
#"My name is <name> and I am <age> years old."

def introduce(name , age):
    print(f"My name is {name} and I am {age} years old.")

introduce("kaustubh",31)

In [ ]:
#3. Calculate the Sum of Two Numbers
#Write a function add_numbers that takes two numbers as arguments and returns their sum.

def add_numbers (a ,b):
    return (a+b)


add_numbers(18,36)

In [ ]:
#4. Find the Larger Number
#Write a function find_larger that takes two numbers and returns the larger one.
def find_larger(a,b):
    return max(a,b)

find_larger(18,12)

In [ ]:
##5. Convert Celsius to Fahrenheit
##Write a function celsius_to_fahrenheit that takes a temperature in Celsius as input and returns the temperature in Fahrenheit using the formula:

def celsius_to_fahrenheit(a):
    return (a*(9/5))+32

celsius_to_fahrenheit(38)

In [ ]:
##6. Check If a Number is Even or Odd
##Write a function is_even that takes a number and returns True if the number is even and False if it's odd.

def is_even (a):
    if a%2 == 0:
        print("number is even True")

    else:
        print("number is odd False")

is_even(13)

In [ ]:
#Calculate the Factorial
#Write a function factorial that takes a positive integer and returns its factorial.
def factorial(k):
    d = 1
    for i in range(1,k+1):
        
        d = d*i
    return d

x = 4
result = factorial(x)

print(result)

In [ ]:
##8. Count the Number of Vowels
#Write a function count_vowels that takes a string as input and returns the number of vowels (a, e, i, o, u) in it.

def count_vowels (n):
    vowels = "aeiouAEIOU"
    count = 0
    for char in n:
        if char in vowels:
            count += 1
    return count
l = str(input("enter your string"))
k = count_vowels(l)
print(k)

In [ ]:
def count_vowels(n):
    vowels = "aeiouAEIOU"
    count = 0
    for char in n:
        if char in vowels:
            count += 1

    return count

l = "kaustubh patel"
r = count_vowels(l)
print(r)

In [ ]:
##9. Reverse a String
#Write a function reverse_string that takes a string as input and returns the reversed string.
def reverse_string(l):
    return (l[::-1])

reverse_string("kaustubh")

In [ ]:
###Check If a String is a Palindrome
#Write a function is_palindrome that takes a string and returns True if it's a palindrome (same forwards and backwards) and False otherwise.
def is_palindrome(k):
    if k == k[::-1]:
        print(True)

    else:
         print(False)


is_palindrome("kaustubh")

In [ ]:
##11. Print a Multiplication Table
#Write a function multiplication_table that takes a number and prints its multiplication table up to 10.

def multiplication_table(n):
    for i in range(1,11):
        print(i*n)
multiplication_table(4)

In [ ]:
#12. Find the Smallest Number in a List
#Write a function find_smallest that takes a list of numbers and returns the smallest number.
l1 = [1,2,3,4,5,6,7,8]

def find_small(l1):
    return min(l1)

print(find_small(l1))

In [ ]:
#Find the Sum of All Numbers in a List
#Write a function sum_list that takes a list of numbers and returns the sum of all elements.
def sum_list(k):
    total = 0
    for i in k:
        total+=i
    return total
l = [1,2,3,4]
c = sum_list(l)
print(c)

In [ ]:
#Count the Occurrences of an Element in a List
#Write a function count_occurrences that takes a list and an element, and returns the number of times the element appears in the list.
l2 = ["q","e","r","t","t","e"]
def count_occurrences(k,element):
    count = 0
    for i in k:
        if i == element:
            count += 1
    return count
e_count = "t"
v = count_occurrences(l2, e_count)
print(v)

In [ ]:
#Create a Simple Calculator
# num1 (first number)
# num2 (second number)
# operation (a string: "add", "subtract", "multiply", "divide")
# Perform the operation and return the result.

def Calculator(num1, num2, operation):
    if operation == "add":
        return num1 + num2
    if operation == "subtract":
        return num1 - num2
    if operation == "multiply":
        return num1 * num2
    if operation == "divide":
        return num1/num2

z = Calculator(10,2,"divide")
print(z)

In [ ]:
#Write a function is_prime that takes a number as input and returns True if the number is prime, otherwise False.

def is_prime(k):
    if k<=1:
        return False
    for i in range (2,k):
        if k % i == 0:
            return False
    return True
number = 11
print(f"{number} is a prime number: {is_prime(number)}")

In [ ]:
def is_prime(k):
    if k<=1:
        return False
    for i in range(2,k):
        if k%i==0:
            return False
    return True

number = 12
is_prime(number)

In [ ]:
#Write a function power that takes two arguments base and exponent and returns the result of base exponent base exponent

def power(base,exponent):
    return base**exponent

power(2,3)

In [ ]:
##Write a function fibonacci that takes a number n and prints the first n numbers in the Fibonacci sequence.
def fibonacci(l):
    fibonacci_series= []
    a , b = 0, 1
    for _ in range(n):
        fibonacci_series.append(a)
        a,b =b, a+b
    return fibonacci_series     


n=12
print(f"The first {n} numbers in the Fibonacci sequence: {fibonacci(n)}")

In [ ]:
#Write a function gcd that takes two numbers as input and returns their greatest common divisor (GCD).
def gcd(a,b):
    while b !=0:
        a,b = b,a%b
    return a

num1 = 48
num2 = 18
gcd(num1, num2)

In [ ]:
# Write a function calculate_area that calculates the area of a rectangle. The function should take two arguments: length and width, which represent the dimensions of the rectangle. The function should return the area as a result.
# Define the function calculate_area.
# Take input for length and width from the user.
# Call the function and print the area of the rectangle.
# Bonus: Add a condition to validate that both length and width are positive numbers. If either value is not positive, print an error message instead of calculating the area.

def calculate_area(length,width):
    if length <= 0 or width <= 0:
         print("Error: Both length and width must be positive numbers.")
         return None 
        
    return length*width

length = float(input("enter the length"))
width = float(input("enter the width"))

calculate_area(length,width)

In [ ]:
#Write a function sum_list(lst) that takes a list of numbers and returns the sum of all elements in the list.
def sum_list(lst):
    return sum(lst)

lst= list(map(int,input("enter number : ").split()))
sum_list(lst)

In [ ]:
#Write a function find_max(lst) that takes a list of numbers and returns the largest number.
def find_max(lst):
    return max(lst)

lst=list(map(int,input("enter the lsit : ").split()))
find_max(lst)

In [ ]:
#Write a function find_min(lst) that takes a list of numbers and returns the smallest number.
def find_min(lst):
    return min(lst)

lst = list(map(int,input("enter the list : ").split()))
find_min(lst)

In [ ]:
###Write a function calculate_average(lst) that takes a list of numbers and returns their average.

def calculate_average(lst):
    return (sum(lst))/len(lst)

lst = list(map(int,input("    ").split()))
calculate_average(lst)

In [42]:
#Write a function count_occurrences(lst, value) that takes a list and a value and returns the number of times the value appears in the list
def count_occurrences(lst, value):
    return lst.count(value)

lst = list(map(int , input(" ").split()))
value = int(input("enter value"))

z = count_occurrences(lst, value)
print(z)

  11 22 22 2 222 22 22 2222 22
enter value 22

5

In [52]:
#Write a function filter_even(lst) that takes a list of numbers and returns a new list containing only the even numbers.

def filter_even(lst):
    k=[]
    for i in lst:
        if i%2 == 0:
            k.append(i)

    return k
        
    
lst = list(map(int,input(" ").split()))
#print(f"input list :{lst}")
d =filter_even(lst)
print(d)

  1 2 3 4 5 6

[2, 4, 6]

In [59]:
def filter_even(lst1 , lst2):
    k = []
    for i,j in zip(lst1,lst2):
        if i%2==0 and j%2==0:
            
            k.append((i,j))

    return k

lst1 = list(map(int,input(" ").split()))
lst2 = list(map(int,input(" ").split()))
d=filter_even(lst1 , lst2)
print(d)

  1 2 3 4
  5 6 7 8

[(2, 6), (4, 8)]

In [61]:
def filter_even(lst1 , lst2):
    return [i for i in lst1 if i%2==0 ],[j for j in lst2 if j%2!=0]
lst1 = list(map(int,input(" ").split()))
lst2 = list(map(int,input(" ").split()))
d=filter_even(lst1 , lst2)
print(d)

  1 2 3 4
  5 6 7 8

([2, 4], [5, 7])

In [62]:
#Write a function reverse_list(lst) that takes a list and returns a new list with the elements in reverse order.
def reverse_list(lst):
    return (lst[::-1])

lst = list(map(int,input("enter your list: ").split()))
k= reverse_list(lst)
print(k)

enter your list:  1 2 3 4 5

[5, 4, 3, 2, 1]

In [63]:
#Write a function reverse_list(lst) that takes a  2 list  and returns a new list with the elements in reverse order.
def reverse_list(lst1, lst2):
    return [(lst1[::-1])],[(lst2[::-1])]

lst1 = list(map(int,input(" ").split()))
lst2 = list(map(int,input(" ").split()))
d=reverse_list(lst1 , lst2)
print(d)

  1 2 3 4 5
  6 7 8 9

([[5, 4, 3, 2, 1]], [[9, 8, 7, 6]])

In [66]:
#Write a function has_duplicates(lst) that takes a list and returns True if there are duplicate elements, otherwise False.
def has_duplicates(lst):
    for i in lst:
        if i==i:
            print(True)
        return lst

lst= list(map(int,input(" ").split()))
d= has_duplicates(lst)
print(d)

  1 2 3 4 5

True
[1, 2, 3, 4, 5]

In [68]:
def has_duplicates(lst1 , lst2):
    for i,j in zip(lst1,lst2):
        if i==i and j==j:
            print(True)
        return (lst1,lst2)

lst1= list(map(int,input(" ").split()))
lst2= list(map(int,input(" ").split()))

d= has_duplicates(lst1,lst2)
print(d)

  1 2 3 4 4
  1 23 4 56 7

True
([1, 2, 3, 4, 4], [1, 23, 4, 56, 7])

In [72]:
#Write a function sort_list(lst) that takes a list and returns a new list with the elements sorted in ascending order.

def sort_list(lst):
    return sorted(lst)

lst = list(map(int,input("enter your list").split()))
d=sort_list(lst)
print(d)

enter your list 33 1 23 5 56 66 677

[1, 5, 23, 33, 56, 66, 677]

In [3]:
#Write a function find_index(lst, value) that takes a list and a value and returns the index of the value in the list. If the value is not found, return -1

def find_index(lst, value):
    try:
        return lst.index(value)
    except ValueError:
        return -1
lst = list(map(int,input("enter your list: ").split()))
value = int(input("enter your value: "))
d=find_index(lst,value)
print(d)

enter your list:  11 22 33 44 55 66
enter your value:  55

4

In [7]:
#Write a function remove_duplicates(lst) that takes a list and returns a new list with duplicate elements removed.

def remove_duplicates(lst):
    return list(set(lst))

lst= list(map(int,input("  ").split()))
l=remove_duplicates(lst)
print(l)

   1 2 3 4 1 2

[1, 2, 3, 4]

In [9]:
#Write a function cumulative_sum(lst) that takes a list of numbers and returns a list where each element is the cumulative sum of the elements before it.
def cumulative_sum(lst):
    result =[]
    total = 0
    for i in lst:
        total += i
        result.append(total)
    return result
lst= list(map(int,input("  ").split()))
l=cumulative_sum(lst)
print(l)

   10 20 30 40 50

[10, 30, 60, 100, 150]

In [11]:
#Write a function rotate_list(lst, k) that takes a list and a number k, and returns a new list with the elements rotated k places to the right
def rotate_list(lst, k):
    k=k%len(lst)
    return lst[-k:]+lst[:-k]
lst = list(map(int,input("  " ).split()))
k = int(input("  "))
d= rotate_list(lst, k)
print(d)

   1 2 3 4 5
   2

[4, 5, 1, 2, 3]

In [23]:
#Write a function common_elements(lst1, lst2) that takes two lists and returns a list of elements that are common to both.
def common_elements(lst1, lst2):
    return list(set(lst1) & set(lst2))
lst1 = list(map(int,input("list1 : ").split()))
lst2 = list(map(int,input("list2 : ").split()))
l=common_elements(lst1, lst2)
print (l)

list1 :  1 2 3 4 5
list2 :  2 34 45 5 6

[2, 5]

In [25]:
##Write a function split_list(lst, n) that takes a list and a number n, and splits the list into two parts: one with the first n elements and the other with the remaining elements.

def split_list(lst, n):
    f_p= lst[:n]
    s_p = lst[n:]
    return f_p,s_p

lst = list(map(int,input("enter you list:" ).split()))
n= int(input("enter value"))
p = split_list(lst, n)
print(p)

enter you list: 1 2 3 4 5
enter value 5

([1, 2, 3, 4, 5], [])

In [26]:
#Write a function find_odd(lst) that takes a list of numbers and returns a new list containing only the odd numbers.
def find_odd(lst):
    l=[]
    for i in lst:
        if i%2 != 0:
            l.append(i)
    return l

lst = list(map(int,input(" ").split()))
k= find_odd(lst)
print(k)

  1 2 3 4 5 6 7 8 9

[1, 3, 5, 7, 9]

In [28]:
###Write a function concatenate_lists(lst1, lst2) that takes two lists and returns a new list that is the concatenation of the two.
def concatenate_lists(lst1, lst2):
    l=[]
    for i, j in zip(lst1, lst2):
        l = lst1 + lst2
    return l

lst1 = list(map(int,input("enter you list:" ).split()))
lst2 = list(map(int,input("enter you list:" ).split()))
x= concatenate_lists(lst1, lst2)
print(x)

enter you list: 1 2 3 4
enter you list: 5 6 7 8

[1, 2, 3, 4, 5, 6, 7, 8]

In [41]:
#Write a function element_exists(lst, value) that takes a list and a value, and returns True if the value exists in the list, otherwise False.

def element_exists(lst, value):
       return value in lst
lst = list(map(int,input("enter you list:" ).split()))
value = int(input(" "))
c = element_exists(lst, value)
print(c,"#########")

enter you list: 1 2 4 45 6
  2

True #########

In [42]:
#Write a function list_length(lst) that takes a list and returns the number of elements in the list without using the len() function.

def list_length(lst):
    count = 0
    for i in lst:
        count += 1
    return count

lst = list(map(int,input(" ").split()))
k = list_length(lst)
print(k)

  1 2 3 4 5 6 7

7

In [46]:
#Write a function remove_element(lst, value) that removes all occurrences of a specified value from the list and returns the new list.

def remove_element(lst, value):
    return [i for i in lst if i != value]

lst = list(map(int,input(" ").split()))
value = int(input(" "))
k = remove_element(lst, value)
print(k)

  1 2 2 3 3 4 4 5 6 7 8 9
  2

[1, 3, 3, 4, 4, 5, 6, 7, 8, 9]