In [1]:
#Make a list of numbers from 1 to 10.
number = [i for i in range(1,11)]
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [2]:
#Make a list of numbers from 1 to 10 and  print only 5th index value.
number = [i for i in range(1,11)]
print(number[5])

6

In [3]:
#Make a list of numbers from 1 to 10 and print in reverse order
number = [i for i in range(1,11)]
print(number[::-1])

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [4]:
#Make a list of numbers from 1 to 10 and multiply each element by himself.
number = [i*i for i in range(1,11)]
print(number)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [5]:
##Make a list of numbers from 1 to 10 and multiply each element by himself and print even number only.
number = [i*i  for i in range(1,11) if i%2==0  ]
print(number)

[4, 16, 36, 64, 100]

In [ ]:
#Make a list of the cubes of numbers from 1 to 5
k = [i**3 for i in range(1,6)]
print(k)

In [6]:
#Flatten this list: [[10, 20], [30, 40]].
l=[[10, 20], [30, 40]]
k=[i for sublist in l for i in sublist]
print(k)

[10, 20, 30, 40]

In [7]:
#Flatten this list:[[10, 20], [30, 40], [50, 60]]
data = [[10, 20], [30, 40], [50, 60]]
l =[item for sublist in data for item in sublist] 
print(l)

##or

k=[]
for sublist in data:
    k.extend(sublist)

print(k)

[10, 20, 30, 40, 50, 60]
[10, 20, 30, 40, 50, 60]

In [8]:
#Flatten this list:[[10, 20], [30, 40], [50, 60],[10,90]]
p= [[10, 20], [30, 40], [50, 60],[10,90]]
l= [i for sublist in p for i in sublist]
print(l)

[10, 20, 30, 40, 50, 60, 10, 90]

In [9]:
#Flatten this list:[[10, 20], [30, 40], [50, 90],[10,90]]
a=[[10, 20], [30, 40], [50, 90],[10,90]]
b= [i for sublist in a for i in sublist]
print(b)

[10, 20, 30, 40, 50, 90, 10, 90]

In [10]:
#Flatten this list:[[10, 20], [3, 40], [50, 90],[10,90]]
c= [[10, 20], [3, 40], [50, 90],[10,90]]
d= [i for sublist in c for i in sublist ]
print(d)

[10, 20, 3, 40, 50, 90, 10, 90]

In [11]:
#Flatten this list:[[10, 20], [3, 40], [50, 90],[10,90]]
e=[[10, 20], [3, 40], [50, 90],[10,90]]
f=[i for sublist in e for i in sublist]
print(f)

[10, 20, 3, 40, 50, 90, 10, 90]

In [12]:
g=[[10, 660], [3, 40], [50, 90],[10,90]]
h=[i for sublist in g for i in sublist]
print(h)

[10, 660, 3, 40, 50, 90, 10, 90]

In [13]:
#Make a list that says "big" for numbers greater than 3, otherwise "small", for numbers 1 to 5.
data=["big" if i>3 else "small" for i in range(1,6)]
print(data)

['small', 'small', 'small', 'big', 'big']

In [14]:
#Create a list of numbers from 1 to 10
w=[i for i in range(1,11)]
print(w)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
#Generate a list of squares of numbers from 1 to 10.
d= [i**2 for i in range(1,11)]
print(d)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [17]:
#Make a list of even numbers between 1 and 20.
s= [i for i in range(1,21)if i%2==0]
print(s)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [18]:
#Create a list of numbers from 1 to 10, but add 100 to each number.
x= [i+100 for i in range(1,11)]
print(x)

[101, 102, 103, 104, 105, 106, 107, 108, 109, 110]

In [19]:
#Generate a list of strings: "num_1", "num_2", ..., "num_5".
a= [f"num_{i}" for i in range(1,6)]
print(a)

['num_1', 'num_2', 'num_3', 'num_4', 'num_5']

In [20]:
#Create a list of all multiples of 3 between 1 and 30
q= [i*3 for i in range(1,11)]
print(q)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]

In [21]:
#Make a list of numbers from 1 to 10, but for odd numbers, add 5
s= [i + 5 if i%2!=0 else i for i in range(1,11)]
print(s)

[6, 2, 8, 4, 10, 6, 12, 8, 14, 10]

In [22]:
#Write a list that says "even" for even numbers and "odd" for odd numbers from 1 to 10
l=["even" if i%2==0 else "odd" for i in range(1,11)]
print(l)

['odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even', 'odd', 'even']

In [23]:
#Flatten this nested list: [[1, 2], [3, 4], [5]]
data = [[1, 2], [3, 4], [5]]
m=[i for sublist in data for i in sublist]
print(m)

[1, 2, 3, 4, 5]

In [24]:
#Generate a list of pairs (tuples) for each number in [1, 2, 3] and each letter in ['a', 'b']
s= [(num,letter) for num in [1,2,3] for letter in['a','b']]
print(s)

[(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

In [25]:
#Make a list of the lengths of each word in this sentence: "I am learning list comprehensions"
s= "I am learning list comprehensions"
v= [len(word) for word in s.split()]
print(v)

[1, 2, 8, 4, 14]

In [26]:
#Filter a list to include only strings with more than 3 characters: ["cat", "dog", "elephant", "rat"]
r= ["cat", "dog", "elephant", "rat"]
a=[i for i in r if len(i)>3]
print(a)

['elephant']

In [27]:
#Create a list of prime numbers between 1 and 20 using a list comprehension.
primes = [n for n in range(2, 21) if all(n % i != 0 for i in range(2, int(n**0.5) + 1))]
print(primes)

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
#Convert to Uppercase: Given a list of strings ["apple", "banana", "cherry"], create a new list with all strings in uppercase.
k = ["apple", "banana", "cherry"]
s = [i.upper() for i in k]
print(s)

In [ ]:
#Filter by Length: From a list of strings ["hi", "hello", "world", "Python"], create a list of words with more than 3 characters.
c= ["hi", "hello", "world", "Python"]
d = [i for i in c if len(i)>3]
print(d)

In [ ]:
#Flatten a List: Convert a nested list [[1, 2], [3, 4], [5, 6]] into a single flat list.
k = [[1, 2], [3, 4], [5, 6]]
d= [i for sublist in k for i in sublist]
print(d)

In [ ]:
#Filter and Transform: Given a list of numbers [1, 5, 8, 12, 15, 18], create a new list containing the squares of even numbers only.
a = [1, 5, 8, 12, 15, 18]
l = [i**2 for i in a if i%2==0]
print(l)

In [ ]:
#Reverse Words: Given a list of words ["hello", "world", "python"], create a list of words reversed (["olleh", "dlrow", "nohtyp"]).
s = ["hello", "world", "python"]
f= [i[::-1] for i in s]
print(f)

In [ ]:
#Generate a Dictionary: Create a dictionary comprehension from a list [1, 2, 3, 4], where keys are numbers and values are their cubes.
a = [1, 2, 3, 4]
c = {i: i**3 for i in a}
print (c)

In [ ]:
#Filter Palindromes: From a list of strings ["level", "world", "radar", "python"], extract only the palindromes.
a= ["level", "world", "radar", "python"]
s=[ i for i in a if i==i[::-1]]
print(s)

In [ ]:
#Prime Numbers: Write a list comprehension to generate all prime numbers less than 50
prime = [i for i in range(2,50)if all(i%d!=0 for d in range(2,int(i**0.50)+1))]
print(prime)

In [ ]:
##Prime Numbers: Write a list comprehension to generate all prime numbers less than 10
p = [i for i in range(1,11)if all(i%d!=0 for d in range (2,int(i**0.50)+1))]
print(p)

In [ ]:
##Prime Numbers: Write a list comprehension to generate all prime numbers less than 20

s = [i for i in range(1,21)if all (i%d!=0 for d in range(2,int(i**0.50)+1))]
print(s)

In [ ]:
##Prime Numbers: Write a list comprehension to generate all prime numbers less than 25
z=[i for i in range(1,26)if all(i%d!=0 for d in range(2,int(i**0.50)+1))]
print(z)

In [ ]:
#Cartesian Product: Generate a Cartesian product of two lists [1, 2, 3] and ['a', 'b', 'c']
l1 = [1, 2, 3]
l2= ['a', 'b', 'c']
c=[(x,y) for x in l1 for y in l2]
print(c)

In [ ]:
#Cartesian Product: Generate a Cartesian product of two lists [1, 2, 3, 4] and ['a', 'b', 'c','d']
l1 = [1, 2, 3, 4]
l2 = ['a', 'b', 'c','d']
f= [(x,y) for x in l1 for y in l2]
print(f)

In [ ]:
#Replace Vowels: Given a string s = "hello world", create a list of characters where vowels are replaced by '*'.
s = "hello world"
vowels = "aeiouAEIOU"
x = ['*' if i in vowels else i for i in s]
result = ''.join(x)
print(result)

In [ ]:
#Add Constant: Given a list of numbers [1, 2, 3, 4], create a new list where each number is increased by 5
k = [1, 2, 3, 4]
s = [ i+5 for i in k]
print(s)

In [ ]:
#Filter Odd Numbers: Create a list of all odd numbers between 1 and 30.
odd_num = [i for i in range(1,31) if i%2!=0]
print(odd_num)

In [ ]:
#Repeat Characters: Given a string "abc", create a list where each character is repeated three times: ["aaa", "bbb", "ccc"]

s ="abc"
l = [i * 3 for i in s]
print(l)

In [ ]:
#Filter Negative Numbers: From a list [-10, 15, -20, 30, 40, -50], extract only the positive numbers.
l1 = [-10, 15, -20, 30, 40, -50]
m = [i for i in l1 if i>0]
print(m)

In [ ]:
##Celsius to Fahrenheit: Given a list of temperatures in Celsius [0, 10, 20, 30], convert them to Fahrenheit 
C = [0, 10, 20, 30]
F=[(i*9/5)+32 for i in C]
print(F)

In [ ]:
####Common Elements: From two lists list1 = [1, 2, 3, 4] and list2 = [3, 4, 5, 6], create a list of common elements.
list1 = [1, 2, 3, 4] 
list2 = [3, 4, 5, 6]
l3 = [i for i in list1 if i in list2]
print(l3)

In [ ]:
#Remove Duplicates: From a list [1, 2, 2, 3, 4, 4, 5], create a new list without duplicates (use list comprehension with set)
list1 = [1, 2, 2, 3, 4, 4, 5]
l = [set(i for i in list1)]
print(l)

In [ ]:
#Filter Divisible Numbers: From a list [10, 20, 33, 45, 50, 66], extract numbers divisible by both 5 and 3.
list1 = [10, 20, 33, 45, 50, 66]
k = [i for i in list1 if i%3==0 and i%5==0]
print(k)

In [ ]:
#Alternate Elements: From a list [1, 2, 3, 4, 5, 6], create a list of alternate elements: [1, 3, 5].

lst1 = [1, 2, 3, 4, 5, 6]
l= lst1[::2]
print(l)

In [ ]:
#Find Factors: For a number n = 12, create a list of all factors of n using a list comprehension.
n = 12
f = [i for i in range(1,n+1) if n%i==0]
print(f)

In [ ]:
n=14
w = [i for i in range(1,n+1) if n%i==0]
print(w)

In [ ]:
n=16
q=[i for i in range(1,n+1) if n%i==0]
print(q)

In [ ]:
n=18
a=[i for i in range(1,n+1) if n%i==0]
print(a)

In [ ]:
#Flatten Nested Lists with Depth: For a nested list [[1, 2], [3, [4, 5]]], flatten it to one level: [1, 2, 3, [4, 5]]
lst = [[1, 2], [3, [4, 5]]]
s = [i for sublist in lst for i in sublist]
print(s)

In [ ]:
#Conditional Transformation: From a list of numbers [1, -2, 3, -4], replace negative numbers with their absolute values.
lst = [1, -2, 3, -4]
k = [abs(i) if i<0 else i for i in lst]
print(k)

In [32]:
l1 = [1,2,3,4,5]
l2 = [7,6,8,9]
l3 = l1 +l2
print(l3)

[1, 2, 3, 4, 5, 7, 6, 8, 9]